HEDERA_TESTNET_RPC_URL=https://testnet.hashio.io/api
HEDERA_PRIVATE_KEY=
NEXT_PUBLIC_HILLCASH_CONTRACT=
NEXT_PUBLIC_HEDERA_CHAIN_ID=296
SUPRA_HEDERA_TESTNET_HOLDER=0x6Cd59830AAD978446e6cc7f6cc173aF7656Fb917
HILLCASH_CONTRACT=
HILLCASH_LEDGER_PATH=.provider-data.json
HILLCASH_PROVIDER_PORT=3001
HILLCASH_GAS_PRICE_WEI=2000000000000
HEDERA_OPERATOR_ID=
HEDERA_OPERATOR_KEY=
HILLCASH_HCS_TOPIC_ID=
